<mat-card>
  <mat-card-title>Add Quiz</mat-card-title>
  <br />
  <div class="bootstarp-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <!-- {{quiz | json}} -->
          <form (ngSubmit)="formSubmit()" #addQuiz="ngForm">


            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input
              [(ngModel)]="quiz.title"
                type="text"
                required
                minlength="4"
                name="title"
                #title="ngModel"
                matInput
                placeholder="title"
              />
            </mat-form-field>

            <div style="color:red;" *ngIf="!title?.valid && (title?.dirty || title?.touched)">
              <div *ngIf="title?.errors?.['required']">
                Title is required
             </div>
             <div *ngIf="title?.errors?.['minlength']">
               Title Minimum Length is {{title?.errors?.['minlength'].requiredLength}}
             </div> 
           </div>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea
              [(ngModel)]="quiz.description"
                required
                minlength="4"
                name="sescription"
                #description="ngModel"
                matInput
                placeholder="description"
              ></textarea>
            </mat-form-field>

            <div style="color:red;" *ngIf="!description?.valid && (description?.dirty || description?.touched)">
              <div *ngIf="description?.errors?.['required']">
                Description is required
             </div>
             <div *ngIf="description?.errors?.['minlength']">
               Discription Minimum Length is {{description?.errors?.['minlength'].requiredLength}}
             </div> 
           </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Max Marks</mat-label>
                  <input
                  [(ngModel)]="quiz.maxMarks"
                    type="number"
                    required
                    name="maxMarks"
                    #maxMarks="ngModel"
                    matInput
                    placeholder="maxMarks"
                  />
                </mat-form-field>
                <div style="color:red;" *ngIf="!maxMarks?.valid && (maxMarks?.dirty || maxMarks?.touched)">
                  <div *ngIf="maxMarks?.errors?.['required']">
                    Max Marks is required
                 </div>
            </div>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Number of Questions</mat-label>
                  <input
                  [(ngModel)]="quiz.numberOfQuestions"
                    type="number"
                    required
                    name="numberOfQuestions"
                    #noq="ngModel"
                    matInput
                    placeholder="numberOfQuestions"
                  />
                </mat-form-field>
                <div style="color:red;" *ngIf="!noq?.valid && (noq?.dirty || noq?.touched)">
                  <div *ngIf="noq?.errors?.['required']">
                    Number of questions is required
                 </div>
          </div>
        </div>
              
            </div>

            <mat-slide-toggle [(ngModel)]="quiz.isActive" name="isActive" checked="false">Publish Status</mat-slide-toggle>
            <br />
            <br />
            <mat-form-field appearance="fill">
              <mat-label>Categories</mat-label>
              <mat-select #category="ngModel" name="category" [(ngModel)]="quiz.category.cid" required>
                <mat-option
                  *ngFor="let c of categories"
                  [value]="c.cid"
                >
                  {{ c.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div style="color:red;" *ngIf="!category?.valid && (category?.dirty || category?.touched)">
              <div *ngIf="category?.errors?.['required']">
               Category is required
             </div>
      </div>
            <div class="container text-center">
              <button [disabled]="!addQuiz.valid" mat-raised-button color="accent">Add Quiz</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-card>
