<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{quiz.title}}
        </mat-card-title>

        <mat-card-subtitle>
            {{quiz.description}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <mat-action-list><b>Max Marks:</b> {{question.length * 2}}</mat-action-list>
            <mat-action-list><b>Number Of Questions:</b> {{question.length}}</mat-action-list>

        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-actions >
            <h1><b>INSTRUCTIONS</b></h1>
            <p>This quiz consists of <b>{{question.length}}</b> multiple-choice questions. To be successful with the weekly 
                quizzes, it’s important to thoroughly read chapter 5 in the textbook.  It will also
                 be extremely useful to study the key terms at the end of the chapter and review the 
                 Test Your Knowledge activity at the end of the chapter. Keep the following in mind:</p>
                 <ul>
                    <li>
                        <b>Multiple Attempts</b> - You will have three attempts for this quiz with your highest score 
                        being recorded in the grade book
                    </li>
                    <li>
                        <b>Timing</b> - You will need to complete each of your attempts in one sitting, as you are allotted
                         <b>{{question.length*3}}</b> minutes to complete each attempt.
                    </li>
                    <li>
                        <b>Answers</b> - You may review your answer-choices and compare them to the correct answers after your 
                        final attempt.
                    </li>
                 </ul>
        </mat-card-actions>
        <mat-card-actions>
            To start, click the <b>"Take the Quiz"</b> button. When finished, click the <b>"Submit Quiz"</b> button.
        </mat-card-actions>
    </mat-card-content>
    <mat-card-actions>
        <div class="container text-center">
            <button mat-raised-button color="accent" (click)="startQuiz()">TAKE THE QUIZ</button>

        </div>
    </mat-card-actions>
</mat-card>
