<mat-card>
<div class="bootstrap-wrapper">
  <div class="container">
    <h1>QUIZES</h1>
    <div class="row" *ngIf="quizzes">
        <div class="col-md-5 mb20 ml20"  *ngFor="let q of quizzes" >
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{q.description}}
                    </mat-card-content>
                    <mat-action-list>
                        <button class="mt20 mr20" mat-button color="primary">
                                View
                        </button>
                        
                        <button class="mt20 mr20" mat-button color="accent" [routerLink]="'/user-dashboard/instruction/'+q.qid">
                            Start
                    </button>
                    <button class="mt20 mr20" mat-button color="accent">
                        Questions:{{q.numberOfQuestions}}
                </button>
                <button class="mt20 mr20" mat-button color="accent">
                    M.M :{{q.maxMarks}}
            </button>
                </mat-action-list>
            
                
                </mat-card>
        </div>
        <div *ngIf="quizzes.length==0">
            <div>
                <h2>No quiz Found !</h2>
            </div>
        </div>
    </div>
   
  </div>
</div>
</mat-card>